* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General body styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d1b2a;
    color: #ffffff;
}

/* Trocar Tema */

body.dark .header .menu{
    background-color: #232c35;
  }
  
  body.dark .principal{
    background-color: #000;
  }

  body.dark .ajuste{
    background-color: #232c35;
  }

  /* Contraste */
    
  body.contraste .header .menu{
    background-color: #232c35;
    color: #f1c40f;
  }

  body.contraste .header a{
    color: #f1c40f;
  }

  body.contraste .ajuste{
    background-color: #232c35;
    color: #f1c40f;
  }
  
  body.more-letter .ajuste h1{
    font-size: 50px;
    width: auto;
    transition: all 300ms ease-in-out;
  }

  body.more-letter .ajuste p{
    font-size: 25px;
    width: auto;
    transition: all 300ms ease-in-out;
  }

.menu {
    background-color: #1b3a4b;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img {
    width: 100px;
}

.nav-links {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.header {
    margin-bottom: 30px;
}
.header nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

.header .buttons {
    display: flex;
}

.header .buttons a {
    background-color: #1b6ca8;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.header .buttons > a:hover {
    background-color: #22b9ff;
}


.img-familia img {
    width: 1264.8px;
}     


.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura da tela inteira */
    background-position: center;
    text-align: center;
    margin-top: 5px;
}    /* max-width: 900px; 
    margin: 0 auto; 
    text-align: center;  
    margin-top: 10px;   */


.h1 {
    font-size: 2rem;  
    margin-bottom: 1rem;
}

.p {
    font-size: 1.1rem;  
    line-height: 1.6;
    text-align: justify;
}

.ajuste {
    background-color: #122539; /* rgba(0, 0, 0, 0.5); Fundo preto com transparência */
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 800px;
    margin: 0 auto;
}

/*footer styling */
footer {
    background-color: #1b3a4b;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-footer {
    text-align: center;
    align-items: center;
}

footer img {
    width: 100px;
}

footer .social-icons {
    display: flex;
    gap: 20px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

#logout{
    background-color: #1b6ca8;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

#logout:hover {
    background-color: rgba(128, 128, 128, 0.08);
}

.button-acessibilidade{
    position: fixed;
    right: 20px;
    top: 15%;
    z-index: 4;
    cursor: pointer;
   }
   
   .button-acessibilidade img {
    width: 60px;
    height: 60px;
    
   }
   
   .menu-acessibilidade{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    padding: -80px;
    border-radius: 8px;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    height: 25vh;
    width: 15%;
    align-items: center;
    left: -40%;
    text-align: center;
  /* Posição inicial (fora da tela) */
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 300ms ease, transform 300ms ease;
    pointer-events: none;
    border: 2px solid #1964c7;
  }

  .menu-acessibilidade h3{
    color: black;
    font-size: 22px;
  }
  

   .menu-acessibilidade.ativo{
     opacity: 1;
     transform: translateX(40px);
     pointer-events: auto;
   }
   
   .menu-acessibilidade button{
     display: block;
     background: none;
     border: none;
     color: black;
     margin: 10px auto;
     font-size: 20px;
     cursor: pointer;
     text-align: center;
   }
   
   .menu-acessibilidade h3{
     color: black;
   }
   
   .menu-acessibilidade button:hover{
     text-decoration: underline;
   }

   #menu-toggle {
    display: none; /* Esconde o botão hambúrguer no desktop */
  }
  
  #escala .button-acessibilidade img {
    width: 60px;
    height: 60px;
     transition: transform 0.3s ease;
   }
 

@media (max-width: 480px) {
    

    .menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 24px;
        position: absolute;
        top: 1.8rem;
        right: 5%;
        z-index: 3;
        cursor: pointer;
        }
        
        .hamburger-line {
        height: 4px;
        width: 100%;
        background-color: #fff;
        border-radius: 2px;
        transition: all 0.3s ease;
        }
        
        /* Estilo do menu */
        .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #0a4a5b;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: left 0.3s ease;
        z-index: 2;
        gap: 2rem;
        padding-top: 80px;
        }
        
        .menu a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        }
        .menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        list-style: none;
        padding: 0;
        margin: 0;
        }
        /* Quando o checkbox estiver marcado, mostrar o menu */
        #menu-toggle:checked ~ .menu {
        left: 0;
        }
        
        /* Transformar hamburger em X quando menu aberto */
        #menu-toggle:checked ~ .menu-btn .hamburger-line:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
        }
        
        #menu-toggle:checked ~ .menu-btn .hamburger-line:nth-child(2) {
        opacity: 0;
        }
        
        #menu-toggle:checked ~ .menu-btn .hamburger-line:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
        }
        

    .nav-links {
        flex-direction: column;
        height: auto;
        gap: 10px;
        width: 100%;
        margin-top: 10px;
    }

    .img-familia img {
        max-width: 400px;
        margin-bottom: 1px;
    }

    .principal {
        max-width: 400px;
        margin-bottom: 7px;
    }

    .ajuste {
        border: hidden;
        padding: 5px;
    }

    footer {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    footer img {
        width: 80px;
    }

    footer .social-icons {
        justify-content: center;
    }
/* Menu de Acessibilidade */
.button-acessibilidade {
    position: fixed;
    z-index: 4;
    cursor: pointer;
  }
  
  #escala .button-acessibilidade img {
   width: 60px;
   height: 60px;
    transition: transform 0.3s ease;
  }

  .button-acessibilidade:hover img {
    transform: scale(1.1);
  }
  
  .menu-acessibilidade{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    height: 30vh;
    width: 30%;
    align-items: center;
    left: -40%;
    text-align: center;
  /* Posição inicial (fora da tela) */
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 300ms ease, transform 300ms ease;
    pointer-events: none;
    border: 2px solid #1964c7;
  }
  
  .menu-acessibilidade.ativo {
    transform: translate(10px, -30%); /* Aparece à direita */
    opacity: 1;
    pointer-events: auto;
  }
  /* Botões do menu */
  .menu-acessibilidade button {
    background: none;
    border: none;
    color: black;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .menu-acessibilidade button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  /* Título do menu */
  .menu-acessibilidade h3 {
    color: black;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
  }


  
  }
  
  @media (max-width: 820px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .img-familia img {
        margin-top: 40px;
        width: 624px;
    }     
    .principal {
        display: grid;
        width: 623px;
        align-items: center;
        text-align: center;
    }
    .menu-acessibilidade{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        z-index: 3;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
        height: 50vh;
        width: 50%;
        align-items: center;
        left: -40%;
        text-align: center;
      /* Posição inicial (fora da tela) */
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 300ms ease, transform 300ms ease;
        pointer-events: none;
        border: 2px solid #1964c7;
      }
}

@media (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .img-familia #familia {
        margin-top: 40px;
        width: 100%;
        margin-bottom: 40px;
    } 
    
    .principal {
        display: grid;
        width: 1300px;
        height: 500px;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .menu-acessibilidade{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        background-color: #fff;
        padding: -20px;
        border-radius: 8px;
        z-index: 3;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
        height: 25vh;
        top: 20%;
        width: 25%;
        align-items: center;
        left: -40%;
        text-align: center;
      /* Posição inicial (fora da tela) */
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 300ms ease, transform 300ms ease;
        pointer-events: none;
        border: 2px solid #1964c7;
      }
}

@media(min-width: 1200px){
    .img-familia #familia {
        margin-top: 40px;
        width: 100%;
        margin-bottom: 40px;
       
    }     
    .principal  {
        display: grid;
        width: 650px;
        height: 500px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-left: 25%;
    }
    .menu-acessibilidade{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        z-index: 3;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
        height: 25vh;
        width: 15%;
        align-items: center;
        left: -40%;
        text-align: center;
      /* Posição inicial (fora da tela) */
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 300ms ease, transform 300ms ease;
        pointer-events: none;
        border: 2px solid #1964c7;
      }
}




