 /* General body styling */
 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d1b2a;
    color: #ffffff;
}

/* Tema Escuro */

body.dark .menu, body.dark .footer{
  background-color: #232c35;
}

body.dark .login-box{
  background: #232c35;
  color: white;
}

body.dark .login-box input{
  background-color: #fff;
  border: 2px solid black;
}

/* Contraste */

body.contraste .menu , body.contraste .footer{
  background-color: #232c35;
  color: #f1c40f;
}
body.contraste .menu a, body.contraste .text-footer{
  color: #f1c40f;
}

body.contraste .login-box{
  background: #232c35;
  color: black;
  color: #f1c40f;
}

body.contraste .login-box input{
  background-color: white;
}

body.contraste .login-box button, body.contraste .menu li a, body.contraste .menu div a, body.contraste a {
  color: #f1c40f;
}

/* Aumentar Tamanho */

body.more-letter .login-box button, body.more-letter .menu li a, body.more-letter .menu div a, body.more-letter .login-box label {
  font-size: 25px;
  width: auto;
  transition: all 300ms ease-in-out;
  margin: 5px;
}


/* Header styling */
.menu {
  background-color: #1b3a4b;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu img {
  width: 100px;
}

.nav-links {
  display: flex;
  text-align: center;
  align-items: center;
}

.header nav a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
}

.header .buttons {
  display: flex;
}

.header .buttons a {
  background-color: #1b6ca8;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  transition: all 0.2s ease-in-out;
}

.header .buttons>a:hover {
  background-color: #0c3352;
  transform: scale(1.2);
}

/* Main content styling */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 160px);
    margin-bottom: 100px; /*alterado vitor araujo*/
}



.logo {
    height: 200px;
    /* width: 200px; */
    margin-bottom: 5px;
    align-items: center; /*alterado vitor araujo*/
}

.login-box {
    background-color: #1b6ca8;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.login-box input {
    width: 95%; /*alterado vitor araujo*/
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #0d1b2a;
    color: #ffffff;
}

.login-box .buttons {
    display: flex;
    justify-content: space-between;
}

.login-box .buttons button {
    background-color: #0d1b2a;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2 ease-in-out;
}

.login-box .buttons button:hover {
  background-color: #1b6ca8;
  transform: scale(1.2);
} 

.login-box a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

/* Footer styling */
footer {
  background-color: #1b3a4b;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-footer {
  text-align: center;
  align-items: center;
  color: #fff;
}

footer img {
  width: 100px;
}

footer .social-icons {
  display: flex;
  font-size: 50px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

footer a+a {
  margin-left: 10px;
}

.button-acessibilidade{
    position: fixed;
    right: 20px;
    top: 20%;
    z-index: 4;
    cursor: pointer;
   }

   .button-acessibilidade img {
    width: 60px;
    height: 60px;
  }

  .menu-acessibilidade{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    
    border-radius: 8px;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    height: 25vh;
    width: 15%;
    align-items: center;
    left: -40%;
    text-align: center;
  /* Posição inicial (fora da tela) */
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 300ms ease, transform 300ms ease;
    pointer-events: none;
    border: 2px solid #1964c7;
  }
  
  .menu-acessibilidade.ativo{
    opacity: 1;
    transform: translateX(40px);
    pointer-events: auto;
  }
  
  .menu-acessibilidade button{
    display: block;
    background: none;
    border: none;
    color: black;
    margin: 10px auto;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }
  
  .menu-acessibilidade h3{
    color: black;
    font-size: 22px;
  }
  
  .menu-acessibilidade button:hover{
    text-decoration: underline;
  }

#menu-toggle {
    display: none; /* Esconde o botão hambúrguer no desktop */
  }

@media (max-width: 480px) {

    .main-content img{
        width: 70%;
    }

    .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    position: absolute;
    top: 1.8rem;
    right: 5%;
    z-index: 3;
    cursor: pointer;
    }
    
    .nav-links{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hamburger-line {
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.3s ease;
    }
    
    /* Estilo do menu */
    .menu {
    position: fixed;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100vh;
    background: #0a4a5b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
    z-index: 2;
    gap: 2rem;
    padding-top: 80px;
    }
    
    .menu a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    }
    .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    }
   
    .menu img{
        margin-bottom: 100%;
        width: 50%;
    }

    /* Quando o checkbox estiver marcado, mostrar o menu */
    #menu-toggle:checked ~ .menu {
    left: 0;
    }
    
    /* Transformar hamburger em X quando menu aberto */
    #menu-toggle:checked ~ .menu-btn .hamburger-line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
    }
    
    #menu-toggle:checked ~ .menu-btn .hamburger-line:nth-child(2) {
    opacity: 0;
    }
    
    #menu-toggle:checked ~ .menu-btn .hamburger-line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    }

  }
  
  /* Telas médias (481px a 768px) */
  @media (min-width: 481px) and (max-width: 768px) {

    .img-container {
      margin-top: 100px;
    }

    .logo {
      margin-top: 50px;
    }
  
  }
  
/* Telas grandes (769px a 1280px) */
@media (min-width: 769px) and (max-width: 1280px) {

  

  .logo {
    margin-top: 30%;
  }

  footer{
    margin-top: 30%;
  }

}

/* Telas muito grandes (acima de 1281px) */
@media (min-width: 1281px) {

  .main-content .logo img{
    margin-top: 100px;
    
  }
  .main-content{
    margin-bottom: 100px;
  }

}
  
  