 /* General body styling */
 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d1b2a;
    color: #ffffff;
}

/* Tema escuro */

body.dark .menu, body.dark .footer{
  background-color: #232c35;
}

body.dark .register-form{
  background: #232c35;
  color: white;
}

body.dark .register-form input{
  background-color: white;
  border: 2px solid black;
}

/* Contraste */

body.contraste .menu, body.contraste .footer{
  background-color: #232c35;
  color: #f1c40f;
}

body.contraste .menu a, body.contraste .buttons button, body.contraste footer  .text-footer{
  color: #f1c40f;
}

body.contraste .register-form{
  background: #232c35;
  color: #f1c40f;
}

body.contraste .register-form input{
  background-color: white;
  border: 2px solid black;
}

/* Aumentar Fonte */
body.more-letter .buttons button{
  font-size: 25px;
  width: auto;
  transition: all 300ms ease-in-out;
  margin: 10px;
}


.menu {
    background-color: #1b3a4b;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img {
    width: 100px;
}

.nav-links {
    display: flex;
    text-align: center;
    align-items: center;
}

.header nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

.header .buttons {
    display: flex;
}

.header .buttons a {
    background-color: #1b6ca8;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    transition: all 0.2 ease-in-out;
}

.header .buttons > a:hover {
  background-color: #0c47b4;
  transform: scale(1.2);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 160px);
    margin-top: 10px;
    
}

.logo {
    margin-bottom: 5px;
    width: 250px;
    height: 250px;
    margin-right: 50px;
    
}

.general-error {
  color: red;
  font-weight: bold;
  margin: 10px 0;
  display: none; /* Escondido por padrão */
}

.general-error.show-error {
  display: block; /* Mostra quando há erro */
}


.register-form {
    background-color: #1b6ca8;
    padding: 40px;
    padding-right: 55px;
    border-radius: 10px;
    width: 300px;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
}

.register-form input[type="text"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0d1b2a;
    color: #ffffff;
}

.register-form input[type="checkbox"] {
    margin-right: 5px;
}

.register-form .buttons {
    display: flex;
    justify-content: space-between;
}

.register-form .buttons button {
    background-color: #0d1b2a;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2 ease-in-out;
}

.register-form .buttons > button:hover {
    background-color: #1b6ca8;
    transform: scale(1.2);
}

.register-form .checkbox-termos {
    display: flex;
    padding: 10px;
}

.input-error {
    border: 1px solid #ff4444 !important;
}

.error-message {
    color: #ff4444;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    display: none;
}

.show-error {
    display: block;
}

footer {
  background-color: #1b3a4b;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-footer {
  text-align: center;
  align-items: center;
  color: #fff;
}

footer img {
  width: 100px;
}

footer .social-icons {
  display: flex;
  font-size: 50px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

footer a+a {
  margin-left: 10px;
}

#menu-toggle {
    display: none; /* Esconde o botão hambúrguer no desktop */
  }
  
  .button-acessibilidade{
    position: fixed;
    right: 20px;
    top: 20%;
    z-index: 4;
    cursor: pointer;
   
  }
  
  .button-acessibilidade img {
    width: 60px;
    height: 60px;

  }
  
  .menu-acessibilidade{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    height: 25vh;
    width: 15%;
    align-items: center;
    left: -40%;
    text-align: center;
  /* Posição inicial (fora da tela) */
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 300ms ease, transform 300ms ease;
    pointer-events: none;
    border: 2px solid #1964c7;
  }
  
  .menu-acessibilidade.ativo{
    opacity: 1;
    transform: translateX(40px);
    pointer-events: auto;
  }
  
  .menu-acessibilidade button{
    display: block;
    background: none;
    border: none;
    color: black;
    margin: 10px auto;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }
  
  .menu-acessibilidade h3{
    color: black;
  }
  
  .menu-acessibilidade button:hover{
    text-decoration: underline;
  }
  

@media (max-width:768px){

    .main-content .logo img{
        width: 50%;
        margin-left: 30%;
        margin-top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content{
        margin-bottom: 30%;
    }

    .register-form {
        padding-right: 0px;
    }

    .register-form #name {
        width: 80%;
    }

    .register-form #email {
        width: 80%;
    }

    .register-form #phone {
        width: 80%;
    }

    .register-form #password {
        width: 80%;
    }

    .register-form #repeat-password {
        width: 80%;
    }

    .register-form .buttons {
        justify-content: start;
    }

    .register-form .buttons button {
        margin-left: 10px;
        margin-right: 10px;
    }

    .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    position: absolute;
    top: 1.8rem;
    right: 5%;
    z-index: 3;
    cursor: pointer;
    
    }

    .hamburger-line {
        height: 4px;
        width: 100%;
        background-color: #fff;
        border-radius: 2px;
        transition: all 0.3s ease;
        }
        
        /* Estilo do menu */

        .menu {
            position: fixed;
            top: 0;
            left: -130%;
            width: 100%;
            height: 140vh;
            background: #0a4a5b;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: left 0.3s ease;
            z-index: 2;
            gap: 2rem;
            padding-top: 80px;
            margin-top: -50%;
        } 
        nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            
        }
        nav a{
            font-size: 24px;
            
        }

        .menu img{
            height: 10%;
           
        }

        .footer {
            width: 100%;
        }

     /* Quando o checkbox estiver marcado, mostrar o menu */
     #menu-toggle:checked ~ .menu {
        left: 0;
        }
        
        /* Transformar hamburger em X quando menu aberto */
        #menu-toggle:checked ~ .menu-btn .hamburger-line:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
        }
        
        #menu-toggle:checked ~ .menu-btn .hamburger-line:nth-child(2) {
        opacity: 0;
        }
        
        #menu-toggle:checked ~ .menu-btn .hamburger-line:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
        }
  }
  
/* Telas médias (481px a 768px) */
/* @media (min-width: 481px) and (max-width: 768px) {

  .img-container {
    margin-top: 100px;
  }

} */

/* Telas grandes (769px a 1280px) */
@media (min-width: 769px) and (max-width: 1280px) {

  .img-container {
    margin-top: 50px;
  }

}

/* Telas muito grandes (acima de 1496px) */
@media (min-width: 1281px) {

  .main-content{
    margin-top: 20px;
    margin-bottom: 100px;
  }

}