* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*acrescentei*/

 /* General body styling */
 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d1b2a;
    color: #ffffff;
}

/* Header styling */
.header {
    background-color: #1b3a4b;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links .button {
    background-color: #1b6ca8;
    padding: 5px 15px;
    border-radius: 5px;
}

.nav-links .button:hover {
    background-color: rgb(8, 67, 175);
}

/* Main content styling */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 130px);/*tava 160px,mudei para 130px*/
}

.logo {
    margin: 15px;/*acrescentei*/
    height: 150px;/*acrescentei*/
    margin-bottom: 10px;/*mudei para 10px*/
}

.login-box {
    background-color: #1b6ca8;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 60px; /*acrescentei*/
}

.login-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #0d1b2a;
    color: #ffffff;
}

.login-box .buttons {
    display: flex;
    justify-content: space-between;
}

.login-box .buttons button {
    background-color: #0d1b2a;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-box .buttons button:hover {
    background-color: rgba(169, 169, 169, 0.308);
}/*acrescentei*/

.login-box a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

/* Footer styling */
.footer {
    background-color: #1b3a4b;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer .social-icons {
    display: flex;
    gap: 10px;
}

.footer .social-icons img {
    height: 20px;
}